.search-container {
  margin-bottom: 80px;
  .search {
    display: flex;
    justify-content: center;
    > input {
      width: 540px;
      height: 46px;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background-color: #f9f9f9;

      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      &::placeholder {
        color: #a5a5a5;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #f5f5f5;
      }
    }
    > button {
      cursor: pointer;
      background-color: #1780e1;
      width: 60px;
      border: none;
      border-radius: 0 4px 4px 0;
    }
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: 40px;
    .search {
      > input {
        width: 100%;
      }
    }
  }
}
